<div id="page-list-card" class="page page-address-manage page-current">
  <header class="bar bar-nav">
    <%= link_to :back, :class => "button button-link button-nav pull-left back" do %>
      <span class="icon icon-left"></span>返回
    <% end %>
    <%= link_to new_mobile_address_path, :class => "button button-link button-nav pull-right" do %>
      新增
    <% end %>
    <h1 class="title">地址管理</h1>
  </header>
  <div class="content native-scroll">
    <div class="list-block media-list">
      <ul>
        <% @addresses.each do |address| %>
          <li>
            <%= link_to edit_mobile_address_path(address.id), :class => "item-content item-link" do %>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-subtitle"><%= address.receiver_name %>  <%= address.phone %></div>
                  <div class="item-after"><span class="address_card_span"><%= "默认地址" if address.default %></span></div>
                </div>
                <div class="item-text"><%= address.full_name(address.province, address.city, address.area) %><%= address.location %></div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
