<div class="col-md-<%= column_size %> feature-grid <%= :jewel if jewel %> ">
  <%= link_to mobile_product_path(:id => product.id, :name => product.name) do %>
    <%= image_tag product.default_image.path %>
    <div class="arrival-info">
      <h4><%= product.name %></h4>
      <p><%= current_price product.cost_price %></p>
      <span class="pric1"><del><%= current_price product.price %></del></span>
      <span class="disc">[12% Off]</span>
    </div>
    <div class="viw">
      <%= link_to mobile_product_path(:id => product.id, :name => product.name) do %>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View
      <% end %>
    </div>
    <div class="shrt">
      <%= link_to mobile_product_path(:id => product.id, :name => product.name) do %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist
      <% end %>
    </div>
  <% end %>
</div>