<style type="text/css">
.variants .buttons-row{flex-wrap:wrap}
.variants .buttons-row .button{width:auto}
</style>

<div id="detail-page" class="page no-tabbar">
  <div class="bar bar-standard bar-footer pay">
      <div class="pull-right pay-d">
        <span class="pay-btn" id="apply-order" >Add To Cart</span>
      </div>
      <div class="pull-right real-pay">
        <div>总金额：
          <span class="price"></span>
        </div>
      </div>
    </div>

  <div class="content" id='detail-page'>
    <!-- 这里是页面内容区 -->

    <div class="page-detail">
      <%= render 'mobile/shared/picture_slider', :pictures => @pictures %>
      <div class='content-block goods-card'>
        <h3><%= @product.name %></h3>
        <p><strong><%= number_to_currency @product.price %></strong></p>
      </div>
      <% if @product.has_variants? %>
        <div class="list-block media-list">
          <ul>
            <li>
              <a href="#" class="item-link item-content open-popup" data-popup=".popup-variants" >
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title"><%= variant_types_title @product %></div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      <% end %>
      <div class='content-block'>
        <div class="buttons-row">
          <a href="#tab-introduction" class="tab-link active button">商品</a>
          <a href="#tab-detail" class="tab-link button">详细参数</a>
        </div>
        <div class="tabs">
          <div class="tab active" id='tab-introduction'>
            <p><%= @product.description %></p>
          </div>
          <div class="tab" id='tab-detail'>
            <div class="list-block">
              <ul>
                <% @attributes.each do |attribute| %>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title"><%= attribute.key %></div>
                      <div class="item-after"><%= attribute.value %></div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-variants">
  <div class="bar bar-standard bar-footer pay">
    <div class="pull-right pay-d">
      <span class="pay-btn" id="apply-order" >Add To Cart</span>
    </div>
    <div class="pull-right real-pay">
      <div>总金额：
        <span class="price"></span>
      </div>
    </div>
  </div>
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left close-popup" href="#">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title"><%= variant_types_title @product %></h1>
  </header>
  <div class="content-block list-block list-block-no-margin">
    <div class="media-list list-block list-block-no-margin">
      <ul>
        <li>
          <a href="/examples/light7-mall/detail" class="item-link item-content">
            <div class="item-media"><img src="//gdp.alicdn.com/bao/uploaded/i4/TB13mgfHpXXXXcVXFXXXXXXXXXX_!!2-item_pic.png_240x240.jpg" width="80"></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Rozene</div>
                <div class="item-after">$120</div>
              </div>
              <div class="item-subtitle">345 Like</div>
              <div class="item-text">WayHomeDecor Cotton Linen Decorative Throw Pillow Case Cushion Cover Cute </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="list-block list-block-no-margin cards-list no-card-margin">
      <ul>
        <li class="card">
          <div class="card-header">color</div>
          <div class="card-content">
            <div class="variants card-content-inner btn-margin">
              <p class="buttons-row">
                <a href="#" class="button active">Button 1</a><a href="#" class="button">Button 2</a><a href="#" class="button">Button 3</a>
                <a href="#" class="button active">Button 1</a><a href="#" class="button">Button 2</a><a href="#" class="button">Button 3</a>
              </p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card-header">size</div>
          <div class="card-content">
            <div class="card-content-inner">卡内容</div>
          </div>
        </li>

    </div>
  </div>
</div>


<script type="text/javascript">

$(document).on("pageInit", "#page-home", function(e, id, $page) {

  $(document).on('refresh', '.page-home',function(e) {
    setTimeout(function() {
      $($("#index-tpl").html()).insertBefore($(".list a").eq(0));
      $.pullToRefreshDone('.page-home');
    }, 2000);
  });

  var loading = false;
  $(document).on('infinite', '.page-home',function() {
    if(loading) return;
    loading = true;
    setTimeout(function() {
      $(".page-home .list").append($($("#index-tpl").html()));
      loading = false;
    }, 2000);
  });

});

$(document).on("pageInit", "#page-goods", function(e, id, $page) {
  var loading = false;
  $(document).on('infinite', '.page-goods',function() {
    if(loading) return;
    loading = true;
    setTimeout(function() {
      $(".page-goods ul").append($(".page-goods ul").html());
      loading = false;
    }, 2000);
  });
});

var $dark = $("#dark-switch").on("change", function() {
  $(document.body)[$dark.is(":checked") ? "addClass" : "removeClass"]("theme-dark");
});

$.init();
</script>