<style type="text/css">
.cart-quantity {
  padding-bottom: 20px;
}

.cart-quantity .btn-on {
  background: #b3b3b3;
  border-radius: 0;
  border: none;
  color: #000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-shadow: none;
  text-align: center;
  padding: 0;
  float: left;
  cursor: pointer;
}

.numbers-row input[type=number] {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.numbers-row {
  width: 50%;
  height: 30px;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  text-align: center;
  color: #666;
  padding: 0;
  float: left;
  margin: 0 5px;
  text-align: center;
  background-color: inherit;
}
.quantity-text label {
  font-size: 16px;
}
.dec {
  background-position: 0 -29px;
}

</style>

<div id="detail-page" class="page no-tabbar">
  <%= render "mobile/shared/add_to_cart", :product => @product %>

  <div class="content" id='detail-page'>
    <!-- 这里是页面内容区 -->

    <div class="page-detail">
      <%= render 'mobile/shared/picture_slider', :pictures => @pictures %>
      <div class='content-block goods-card'>
        <h3><%= @product.name %></h3>
        <p><strong><%= number_to_currency @product.price %></strong></p>
      </div>
      <% if @product.has_variants? %>
        <div class="list-block media-list">
          <ul>
            <li>
              <a href="#" class="item-link item-content open-popup" data-popup=".popup-variants" >
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title"><%= variant_types_title @product %></div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      <% end %>
      <div class='content-block'>
        <div class="buttons-row">
          <a href="#tab-introduction" class="tab-link active button">商品</a>
          <a href="#tab-detail" class="tab-link button">详细参数</a>
        </div>
        <div class="tabs">
          <div class="tab active" id='tab-introduction'>
            <p><%= @product.description %></p>
          </div>
          <div class="tab" id='tab-detail'>
            <div class="list-block">
              <ul>
                <% @attributes.each do |attribute| %>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title"><%= attribute.key %></div>
                      <div class="item-after"><%= attribute.value %></div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-variants">
  <%= render "mobile/shared/add_to_cart", :product => @product %>

  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left close-popup" href="#">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title"><%= variant_types_title @product %></h1>
  </header>
  <div id="product-sku" data-skus="<%= product_skus_json @product %>" data-sku="<%= @product.default_stockkeeping_unit_id %>" class="content-block list-block list-block-no-margin ">
    <div class="media-list list-block list-block-no-margin">
      <ul>
        <li>
          <a href="/examples/light7-mall/detail" class="item-link item-content">
            <div class="item-media"><img src="//gdp.alicdn.com/bao/uploaded/i4/TB13mgfHpXXXXcVXFXXXXXXXXXX_!!2-item_pic.png_240x240.jpg" width="80"></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Rozene</div>
                <div class="item-after">$120</div>
              </div>
              <div class="item-subtitle">345 Like</div>
              <div class="item-text">WayHomeDecor Cotton Linen Decorative Throw Pillow Case Cushion Cover Cute </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="list-block list-block-no-margin cards-list no-card-margin">
      <ul>
        <% @product.variant_types.each do |variant_type| %>
          <% next if (variant_values = @product.variant_values(variant_type)) && variant_values.blank? %>
          <li class="card variant">
            <div class="card-header"><%= variant_type.name %></div>
            <div id="variant_type_<%= variant_type.id %>" class="card-content variant_type" data-id="<%= variant_type.id %>" data-name="<%= variant_type.name %>">
              <div class="variants card-content-inner btn-margin">
                <p class="buttons-row variant-group">
                  <% variant_values.each do |variant_value| %>
                    <a href="#" class="button variant_values" id="variant_value_<%= variant_value.id %>" data-id="<%= variant_value.id %>" data-name="<%= variant_value.name %>" data-type-id="<%= variant_type.id %>" data-type-name="<%= variant_type.name %>"><%= variant_value.name %></a>
                  <% end %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
        <li class="card">
          <div class="card-content">
            <div class="variants card-content-inner btn-margin">
                <div class="row">
                  <div class="col-20 quantity-text">
                    <label>数量</label>
                  </div>
                  <div class="col-80 cart-quantity">
                    <div class="numbers-row ">
                      <input type="number" name="quantity" value="1" class="form-control cart_div_number_input">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<script type="text/javascript">

function union_arrays (x, y) {
  var obj = {};
  for (var i = x.length-1; i >= 0; -- i)
     obj[x[i]] = x[i];
  for (var i = y.length-1; i >= 0; -- i)
     obj[y[i]] = y[i];
  var res = []
  for (var k in obj) {
    if (obj.hasOwnProperty(k))  // <-- optional
      res.push(obj[k]);
  }
  return res;
}

Array.prototype.compact = function (array) {
  if(this instanceof Array && array == undefined){
    array = this
  }

  var index = -1,
      length = array ? array.length : 0,
      resIndex = -1,
      result = [];

  while (++index < length) {
    var value = array[index];
    if (value !== undefined && value !== null && value !== '' ) {
      result[++resIndex] = value;
    }
  }
  return result;
}

function intersect(a, b)
{
  var ai=0, bi=0;
  var result = new Array();

  while( ai < a.length && bi < b.length )
  {
     if      (a[ai] < b[bi] ){ ai++; }
     else if (a[ai] > b[bi] ){ bi++; }
     else /* they're equal */
     {
       result.push(a[ai]);
       ai++;
       bi++;
     }
  }

  return result;
}

function VariantManager(){
  if ( !(this instanceof VariantManager) ) {
    return new VariantManager();
  }
  this.product_skus = JSON.parse($("#product-sku").data("skus"));

}

VariantManager.prototype.setDisabled = function(){
  var selected = VariantManager.getSelected(),
      can_select = [],
      product_skus = this.product_skus,
      skus = []
      if(selected.length <= 0){
        $(".variant_values.disabled").removeClass("disabled")
        return
      }

      $.each(selected, function(i, variant_value) {
        var set = []
        $.each(product_skus, function(i, sku){
          if(sku.variant_values.indexOf(variant_value) != -1){
            skus.push(sku.id)
            set = union_arrays(set, sku.variant_values)
          }
        })
        var sameLevel = $("#variant_value_" + variant_value).parents(".variant_type").find(".variant_values").map(function(i, e) {return parseInt($(e).data("id")) })
        set = union_arrays(set, sameLevel)
        if(can_select.length <= 0){
          can_select = set
        }else{
          can_select = intersect(can_select, set)
        }
      })

      // disable
      $(".variant_values").each(function(i, e){
        var $this = $(e)
        if(can_select.indexOf(parseInt($this.data("id"))) != -1){
          $this.removeClass("disabled")
        }else{
          $this.removeClass("active").addClass("disabled")
        }
      })
      VariantManager.setAddSku(skus)
}

VariantManager.setAddSku = function(skus){
  try {
    $("#product-sku").data("add-skus", JSON.stringify(skus))
  } catch (e) {
    $("#product-sku").data("add-skus", "[]")
  }
}

VariantManager.gerAddSku = function(){
  try {
    if($(".pay-btn.add-to-cart").data('has-variants') == 'true'){
      return JSON.parse($("#product-sku").data("add-skus"));
    }else{
      return [parseInt($("#product-sku").data("sku"))]
    }
  } catch (e) {
    return []
  }
}

VariantManager.getSelected = function(){
  try {
    return JSON.parse($("#product-sku").data("selected"));
  } catch (e) {
    return []
  }
}

VariantManager.setSelected = function(selected){
  try {
    $("#product-sku").data("selected", JSON.stringify(selected))
  } catch (e) {
    $("#product-sku").data("selected", "[]")
  }
}

VariantManager.removeSelected = function(active){
  var selected = VariantManager.getSelected(),
      index = selected.indexOf(active)
  if (index > -1) {
    selected.splice(index, 1);
  }
  VariantManager.setSelected(selected)
}

VariantManager.addSelected = function(active){
  var selected = VariantManager.getSelected(),
      index = selected.indexOf(active)
  if (index <= -1) {
    selected.push(active)
  }
  VariantManager.setSelected(selected.compact())
}


function addToCartBinding() {
  $(".numbers-row").before('<div class="dec btn-on">-</div>')
  $(".numbers-row").after('<div class="inc btn-on">+</div>')
  $(".cart-quantity .btn-on").on("click", function() {

    var $button = $(this);
    var oldValue = $button.parent().find("input").val();

    if ($button.text() == "+") {
      var newVal = parseFloat(oldValue) + 1;
    } else {
     // Don't allow decrementing below zero
      if (oldValue > 0) {
        var newVal = parseFloat(oldValue) - 1;
      } else {
        newVal = 0;
      }
    }

    $button.parent().find("input").val(newVal);

  });
}

$(function() {
  addToCartBinding();
  window.variantManager = new VariantManager();

  $(document).on("click", ".variant .button", function(){
    var $this = $(this),
        $variantType = $this.parents(".variant_type"),
        $typeId = $variantType.data("id"),
        $active = $this.parent().find('.button.active')
    if($this.hasClass("disabled")){
      return
    }
    if($active.length > 0){
      $active.removeClass('active')
      VariantManager.removeSelected(parseInt($active.data("id")))
    }
    if( $this.data("id") != $active.first().data("id") && !$this.hasClass('active')){
      $this.addClass('active')
      VariantManager.addSelected(parseInt($this.data("id")))
    }

    variantManager.setDisabled()
  })

  $(document).on('click', ".pay .pay-btn.add-to-cart", function(){
    var $this = $(this),
        hasVariants = ($this.data('has-variants') == 'true'),
        skus = VariantManager.gerAddSku()

    if(skus.length == 1){
      $.ajax({
        url: '/mobile/add_to_cart',

      })
      $.ajax({
        type: 'POST',
        url: '/mobile/add_to_cart',
        data: {
          sku_id: skus[0]
        },
        dataType: 'json',
        success: function(data){

        },
        error: function(xhr, type){
          alert('Ajax error!')
        }
      })
      $.toast(skus);
    }else{
      $.toast("请选择变种产品");
    }

  })

})


$(document).on("pageInit", "#page-home", function(e, id, $page) {

  $(document).on('refresh', '.page-home',function(e) {
    setTimeout(function() {
      $($("#index-tpl").html()).insertBefore($(".list a").eq(0));
      $.pullToRefreshDone('.page-home');
    }, 2000);
  });

  var loading = false;
  $(document).on('infinite', '.page-home',function() {
    if(loading) return;
    loading = true;
    setTimeout(function() {
      $(".page-home .list").append($($("#index-tpl").html()));
      loading = false;
    }, 2000);
  });

});

$(document).on("pageInit", "#page-goods", function(e, id, $page) {
  var loading = false;
  $(document).on('infinite', '.page-goods',function() {
    if(loading) return;
    loading = true;
    setTimeout(function() {
      $(".page-goods ul").append($(".page-goods ul").html());
      loading = false;
    }, 2000);
  });

  $(document).on("click", ".variant .button", function(){
    console.log(111)
  })

});

var $dark = $("#dark-switch").on("change", function() {
  $(document.body)[$dark.is(":checked") ? "addClass" : "removeClass"]("theme-dark");
});

$.init();
</script>